@import "nav";
@import "surface";
@import "header";
@import "article";

body {
  display: block;
  margin: 0;
}


.site-main {
  height: 100%;
  background: #fff
}



.menu {
  position: relative;
  margin-top: 10px;
  text-align: center;
}



.menu:before {
  content: "";
  width: 100%;
  border-top: 1px solid  rgba(0,0,0,0.15);
  position: absolute;
  display: block;
  top:8px;
}

.link {
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.15);
  color: #000011;
  padding: 2px;
  margin:2px;
  display: inline-block;
  letter-spacing:.3em;
  background: #fff;
  position: relative;
}


.link:hover {
   background: rgba(0,0,0,0.15);
}

